:root {
  /*---------- Colores ----------*/
  --first-color: #222831;
  --second-color: #393E46;
  --third-color: #00ADB5;
  --fourth-color: #EEEEEE;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fourth-color);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main{
  display: grid;
}

.footer,
.header {
  background-color: var(--first-color);
  color: var(--fourth-color);
  width: 100%;
}

.section {
  background-color: var(--second-color);
  display: grid;
  grid-template-rows: auto auto;
}

.input {
  border-radius: 80px 10px 10px 10px;
}

.output {
  border-radius: 10px 10px 80px 10px;
}

.copy {
  border-radius: 80px 10px 80px 10px;
}

.button {
  text-align: center;
}

.btn {
  color: var(--fourth-color);
  background-color: var(--third-color);
  border: none;
  transition: background 0.8s;
}

.textarea {
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  color: var(--fourth-color);
  background-color: var(--second-color);
}

.textarea::placeholder {
  color: var(--fourth-color);
  opacity: 1;
}

.hidden {
  display: none;
}

.secreto{
  text-align: center;
  color: var(--fourth-color);
}

.secreto-p{
  color: var(--fourth-color);
}

.btn:hover{
  color: var(--third-color);
  background-color: var(--fourth-color);
  border: var(--third-color) 2px solid;
}

@media screen and (min-width: 1400px) {

  .header {
    padding: 20px;
  }
  
  .logo {
    width: 120px
  }

  .footer {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 17px;
  }

  .main{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    grid-template-columns: 70% 40%;
  }

  .section{
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
  }

  .textarea {
    width: 100%;
    height: 100%;
    font-size: 26px;
  }

  .btn {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    width: 220px;
  }

  .button {
    margin-top: 50px;
  }

  .div-textarea{
    width: 100%;
    height: 55vh;
  }

  .img-secreto{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .secreto-p {
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

  .header {
    padding: 20px;
  }

  .logo {
    width: 120px
  }

  .footer {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 15px;
  }

  .main{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    grid-template-columns: 70% 40%;
  }

  .section{
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
  }

  .textarea {
    width: 100%;
    height: 100%;
    font-size: 22px;
  }

  .btn {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 150px;
  }

  .button {
    margin-top: 50px;
  }

  .div-textarea{
    width: 100%;
    height: 55vh;
  }

  .img-secreto{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .secreto-p {
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  
  .header {
    text-align: center;
    padding: 20px;
  }

  .logo {
    width: 120px
  }

  .footer {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 12px;
  }

  .main{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 95%;
    grid-template-rows: 50% 50%;
  }

  .section{
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 40vh;
    width: 100%;
  }

  .textarea {
    width: 100%;
    height: 100%;
    font-size: 19px;
  }

  .btn {
    padding: 10px;
    font-size: 17px;
    text-align: center;
    width: 150px;
  }

  .button {
    margin-top: 50px;
  }

  .div-textarea{
    width: 100%;
    height: 27vh;
  }

  .img-secreto{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .secreto-p {
    text-align: center;
    font-size: 23px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .header {
    text-align: center;
    padding: 20px;
  }

  .logo {
    width: 110px
  }

  .footer {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 12px;
  }

  .main{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    grid-template-rows: 50% 50%;
  }

  .section {
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 45vh;
    width: 94%;
  }

  .textarea {
    width: 100%;
    height: 100%;
    font-size: 19px;
  }

  .btn {
    padding: 10px;
    font-size: 17px;
    text-align: center;
    width: 150px;
  }

  .button {
    margin-top: 50px;
  }

  .div-textarea{
    width: 100%;
    height: 27vh;
  }

  .img-secreto{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .secreto-p {
    text-align: center;
    font-size: 23px;
  }

}

@media screen and (min-width: 200px) and (max-width: 767px) {

  .header {
    padding: 20px;
    text-align: center;
  }

  .logo {
    width: 90px
  }

  .footer {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 10px;
  }

  .main{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    grid-template-rows: 50% 50%;
  }

  .section:first-child {
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 40vh;
    width: 85%;
  }

  .section:last-child {
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 20%;
    height: auto;
    width: 85%;
  }

  .textarea {
    width: 100%;
    height: 100%;
    font-size: 17px;
  }

  .btn {
    padding: 9px;
    font-size: 10px;
    text-align: center;
    width: 90px;
  }

  .button {
    margin-top: 50px;
  }

  .div-textarea{
    width: 100%;
    height: 20vh;
  }

  .img-secreto{
    display: none;
  }

  .secreto-p {
    text-align: center;
    font-size: 22px;
  }

  .input{
    margin-bottom: 25px;
  }

}